<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    //-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <!-- <div class="jumbotron mt-3">
        <h1>Introduction</h1>
        <p>This work extends 3DDFA, named 3DDFA_V2, titled Towards Fast, Accurate and Stable 3D Dense Face Alignment, accepted by ECCV 2020. The supplementary material is here. The gif above shows a webcam demo of the tracking result, in the scenario of my lab. 
          This repo is the official implementation of 3DDFA_V2.
          Compared to 3DDFA, 3DDFA_V2 achieves better performance and stability. Besides, 3DDFA_V2 incorporates the fast face detector FaceBoxes instead of Dlib. 
          A simple 3D render written by c++ and cython is also included. This repo supports the onnxruntime, and the latency of regressing 3DMM parameters using the default backbone is about 1.35ms/image on CPU with a single image as input. 
          If you are interested in this repo, just try it on this google colab! Welcome for valuable issues, PRs and discussions</p>
      </div> -->
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Origin</h5>
              <img src="{{ url_for('static', filename='images/input.jpg')}}" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Processed</h5>
              <img src="{{ url_for('static', filename='images/processed.jpg')}}" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
      </div> <!-- card list //-->
      <hr class="solid">
      <h4>Let's test</h4>
      
      <div class="form-group">
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col">
            <input type="file" id="input_image">
            <button id="btn_image" class="btn btn-primary" type="button">Process
            </button>
          </div>
          <div class="col">
            <div id="spinner" class="spinner-border invisible" role="status">
              <span id="statusBox" class="sr-only"></span>
            </div>
          </div>     
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <div class="card">
            <img src="" id="preview_image" class="card-img-top invisible">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="" id="result_image" class="card-img-top invisible">          
          </div>
        </div>
      </div> <!-- card list //-->
      
    </div>
  </div>
  <script>
    window.location.origin = "localhost";
    const input_box = document.getElementById("input_image");
    const preview_image = document.getElementById("preview_image");
    const result_image = document.getElementById("result_image");
    const spinner = document.getElementById("spinner");
    const btn_image = document.getElementById("btn_image");

    input_box.addEventListener("change", () => {
      if (input_box.files && input_box.files[0]) {
        let reader = new FileReader();
        reader.readAsDataURL(input_box.files[0]);
        reader.onload = () => {
          preview_image.src = reader.result;
          preview_image.classList.remove('invisible');
          result_image.classList.add('invisible');
        }
      }
    });

    btn_image.addEventListener("click", () => {
      console.log("clicked");
      const inputImage = input_box.files[0];
      if (!inputImage) {
        alert("Select a file!!!");
      }

      btn_image.classList.add("invisible");
      spinner.classList.remove("invisible");
      inferenceRequest(inputImage);
    });


    function inferenceRequest(inputImage) {
      let formData = new FormData();
      formData.append("image", inputImage);
     
      axios.post('/upload', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(response => {
        console.log(response.data);
        result_image.src = response.data.result;
        result_image.classList.remove('invisible');
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => {
        spinner.classList.add("invisible");
        btn_image.classList.remove("invisible");
      });
    }
    </script>
  </body>
</html>